body {

}

.thumbnail-fixed-height {
	min-height: 100px;
}

.tile {
	padding: 10px;
}

.bottom-padding {
	padding-bottom: 20px;

}

.form-condensed .form-group{
	margin-bottom: 5px !important;
}

.capitalize {
	text-transform: capitalize;
}


.form-dfm .table-dfm {
	margin-bottom: 0;
}

.table-dfm td,
.table-cpi td,
.table-ohis td {
	text-align: center;
}

.table-dfm td {
	width: 5%;
}

.table-dfm td:first-of-type {
	width: 20%;
	text-align: left;
}

.table-dfm .border-left {
	border-left: 2px solid #428bca;
}

.table-dfm .border-right {
	border-right: 2px solid #428bca;
}

.table-dfm .border-top {
	border-top: 2px solid #428bca;
}

.table-dfm .border-bottom {
	border-bottom: 2px solid #428bca;
}

.table-dfm .header {
	font-weight: bold;
}

.form-ohis .form-group .input-group,
.form-cpi .form-group .form-control {
	margin-bottom: 2px; 
}

.form-ohis .form-group .input-group:last-of-type,
.form-cpi .form-group .form-control:last-of-type {
	margin-bottom: 0; 
}

.form-dfm td {
	padding: 0 !important;
}

.has-error .form-control {
	background-color: #ffbbba;
}

.landing-icon {
	font-size: 60px;
	width: 64px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.page-breadcrumb {
	margin-top: 20px;
}