body {

}

.thumbnail-fixed-height {
	min-height: 100px;
}

.tile {
	padding: 10px;
}

.bottom-padding {
	padding-bottom: 20px;

}

.form-condensed .form-group{
	margin-bottom: 5px !important;
}