body
{
	background: url('img/dental-tools.png') no-repeat 100% 100% fixed;
	background-size: 600px;
}
.jumbotron {
	background: url('img/smile.png') no-repeat 100%;
	background-color: #ccc4c4;
}