header {
  background-color: #002c51;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}
body {
  background-color: #eeeeee;
}
header .navbar {
  background-color: #002c51;
  border-color: #001a30;
  margin: 0;
}
header .navbar .navbar-brand {
  color: #1e98ff;
}
header .navbar .navbar-brand:hover,
header .navbar .navbar-brand:focus {
  color: #007fea;
  background-color: transparent;
}
header .navbar .navbar-text {
  color: #0063b7;
}
header .navbar .navbar-nav > li > a {
  color: #1e98ff;
}
header .navbar .navbar-nav > li > a:hover,
header .navbar .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #0063b7;
}
header .navbar .navbar-nav > .active > a,
header .navbar .navbar-nav > .active > a:hover,
header .navbar .navbar-nav > .active > a:focus {
  color: #1e98ff;
  background-color: #001a30;
}
header .navbar .navbar-nav > .disabled > a,
header .navbar .navbar-nav > .disabled > a:hover,
header .navbar .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
header .navbar .navbar-toggle {
  border-color: #dddddd;
}
header .navbar .navbar-toggle:hover,
header .navbar .navbar-toggle:focus {
  background-color: #dddddd;
}
header .navbar .navbar-toggle .icon-bar {
  background-color: #888888;
}
header .navbar .navbar-collapse,
header .navbar .navbar-form {
  border-color: #001a30;
}
header .navbar .navbar-nav > .open > a,
header .navbar .navbar-nav > .open > a:hover,
header .navbar .navbar-nav > .open > a:focus {
  background-color: #001a30;
  color: #1e98ff;
}
@media (max-width: 767px) {
  header .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #1e98ff;
  }
  header .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  header .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #0063b7;
  }
  header .navbar .navbar-nav .open .dropdown-menu > .active > a,
  header .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  header .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1e98ff;
    background-color: #001a30;
  }
  header .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  header .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  header .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
header .navbar .navbar-link {
  color: #1e98ff;
}
header .navbar .navbar-link:hover {
  color: #000000;
}
header .navbar .btn-link {
  color: #1e98ff;
}
header .navbar .btn-link:hover,
header .navbar .btn-link:focus {
  color: #000000;
}
header .navbar .btn-link[disabled]:hover,
fieldset[disabled] header .navbar .btn-link:hover,
header .navbar .btn-link[disabled]:focus,
fieldset[disabled] header .navbar .btn-link:focus {
  color: #cccccc;
}
.breadcrumb {
  padding: 8px 15px;
  margin: 0 auto;
  list-style: none;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #777777;
}
section.main .page-section-branding {
  padding-top: 40px;
  padding-bottom: 30px;
  background: url('img/doctors.png') no-repeat 50% 100%;
  background-color: #002c51;
  min-height: 320px;
  color: white;
}
section.main .page-section-white {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: white;
}
section.main .page-section-breadcrumb {
  background-color: #f5f5f5;
}
section.main > hr {
  margin: 0;
  border-top: 1px solid #eeeeee;
}
.landing {
  min-height: 1px;
}
.landing:before,
.landing:after {
  content: " ";
  display: table;
}
.landing:after {
  clear: both;
}
.landing .action {
  padding: 15px;
  width: 33.33333333%;
  float: left;
}
.landing .action:nth-child(n) {
  clear: none;
}
.landing .action:nth-child(3n + 1) {
  clear: both;
}
@media screen and (max-width: 767px) {
  .landing {
    min-height: 1px;
  }
  .landing .action {
    padding: 15px;
    width: 100%;
    float: left;
  }
  .landing .action:nth-child(n) {
    clear: none;
  }
  .landing .action:nth-child(1n + 1) {
    clear: both;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .landing {
    min-height: 1px;
  }
  .landing .action {
    padding: 15px;
    width: 50%;
    float: left;
  }
  .landing .action:nth-child(n) {
    clear: none;
  }
  .landing .action:nth-child(2n + 1) {
    clear: both;
  }
}
.landing .action .action-icon {
  float: left;
  display: block;
  margin-right: 15px;
}
.landing .action .action-content {
  overflow: hidden;
}
.landing .action .action-content a {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=patient-card.css.map */