<ul class="media-list" ng-controller="PatientDentistStatusCtrl as dentistStatus">
	<li class="media" ng-if="checkPerm(dentistStatus.editPerm)">
		<div ng-if="!dentistStatus.editFormEnabled">
			<button class="btn btn-primary" ng-click="dentistStatus.add()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить</button>
		</div>
		<ng-include src="'/Dentist/DentistStatusEditor'" ng-if="dentistStatus.editFormEnabled"></ng-include>
	</li>
	<li class="media" ng-repeat="item in dentistStatus.dentistStatuses | orderBy:'-created' | limitTo:3">
		<div class="media-object pull-left landing-icon dentist-icon-dentist13"></div>
		<div class="media-body">
			<h4 class="media-heading">Дата записи: {{ item.created | date }}</h4>
			<dl>
				<dt>Прикус</dt>
				<dd>{{ item.bite }}</dd>
				<dt>Состояние твердых тканей зубов, периодонта</dt>
				<dd>{{ item.hardTissue }}</dd>
				<dt>Состояние слизистой оболочки рта</dt>
				<dd>{{ item.mucous }}</dd>
				<dt>Данные рентгеновского и других исследований</dt>
				<dd>{{ item.xrayDiagnostics }}</dd>
				<dt>Предварительный диагноз</dt>
				<dd>{{ item.preliminaryDiagnosis }}</dd>
				<dt>Доктор</dt>
				<dd>{{ item.user.displayName }}</dd>
			</dl>
		</div>
	</li>
</ul>
