<div class="panel panel-primary">
	<div class="panel-heading">
		Заполнить КПУ
	</div>
	<form name="statusForm" class="form-horizontal form-dfm" role="form">
		<table class="table table-condensed table-dfm small">
			<tr class="border-bottom">
				<td></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft8.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft8" ng-model="dfmStatus.status.upperLeft8" required ng-pattern="/^[0-8A-Ea-e]{1}$/"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft7.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft7" ng-model="dfmStatus.status.upperLeft7" required ng-pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft6.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft6" ng-model="dfmStatus.status.upperLeft6" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft5.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft5" ng-model="dfmStatus.status.upperLeft5" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft4.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft4" ng-model="dfmStatus.status.upperLeft4" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft3.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft3" ng-model="dfmStatus.status.upperLeft3" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperLeft2.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft2" ng-model="dfmStatus.status.upperLeft2" required pattern="[0-8A-Ea-e]{1}"></td>
				<td class="border-right" ng-class="{ 'has-error': statusForm.upperLeft1.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperLeft1" ng-model="dfmStatus.status.upperLeft1" required pattern="[0-8A-Ea-e]{1}"></td>
				<td class="border-left" ng-class="{ 'has-error': statusForm.upperRight1.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight1" ng-model="dfmStatus.status.upperRight1" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight2.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight2" ng-model="dfmStatus.status.upperRight2" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight3.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight3" ng-model="dfmStatus.status.upperRight3" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight4.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight4" ng-model="dfmStatus.status.upperRight4" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight5.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight5" ng-model="dfmStatus.status.upperRight5" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight6.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight6" ng-model="dfmStatus.status.upperRight6" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight7.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight7" ng-model="dfmStatus.status.upperRight7" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.upperRight8.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="upperRight8" ng-model="dfmStatus.status.upperRight8" required pattern="[0-8A-Ea-e]{1}"></td>
			</tr>
			<tr class="border-top">
				<td></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft8.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft8" ng-model="dfmStatus.status.lowerLeft8" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft7.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft7" ng-model="dfmStatus.status.lowerLeft7" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft6.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft6" ng-model="dfmStatus.status.lowerLeft6" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft5.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft5" ng-model="dfmStatus.status.lowerLeft5" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft4.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft4" ng-model="dfmStatus.status.lowerLeft4" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft3.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft3" ng-model="dfmStatus.status.lowerLeft3" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerLeft2.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft2" ng-model="dfmStatus.status.lowerLeft2" required pattern="[0-8A-Ea-e]{1}"></td>
				<td class="border-right" ng-class="{ 'has-error': statusForm.lowerLeft1.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerLeft1" ng-model="dfmStatus.status.lowerLeft1" required pattern="[0-8A-Ea-e]{1}"></td>
				<td class="border-left" ng-class="{ 'has-error': statusForm.lowerRight1.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight1" ng-model="dfmStatus.status.lowerRight1" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight2.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight2" ng-model="dfmStatus.status.lowerRight2" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight3.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight3" ng-model="dfmStatus.status.lowerRight3" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight4.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight4" ng-model="dfmStatus.status.lowerRight4" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight5.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight5" ng-model="dfmStatus.status.lowerRight5" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight6.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight6" ng-model="dfmStatus.status.lowerRight6" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight7.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight7" ng-model="dfmStatus.status.lowerRight7" required pattern="[0-8A-Ea-e]{1}"></td>
				<td ng-class="{ 'has-error': statusForm.lowerRight8.$invalid }">
					<input type="text" maxlength="1" class="form-control" name="lowerRight8" ng-model="dfmStatus.status.lowerRight8" required pattern="[0-8A-Ea-e]{1}"></td>
			</tr>
		</table>
	</form>
	<div class="panel-body has-error" ng-if="statusForm.$invalid && statusForm.$dirty">
			<div class="col-sm-12">
				<p class="help-block">Все значения должны быть в диапазоне 0-8 и A-E</p>
			</div>
		</div>
	<div class="panel-footer">
		<button class="btn btn-success" ng-click="dfmStatus.ok()" ng-disabled="statusForm.$invalid"><span class="glyphicon glyphicon-ok"></span>&nbsp;Сохранить</button>
		<button type="reset" class="btn btn-default" ng-click="statusForm.$setPristine(); dfmStatus.cancel()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Отмена</button>
	</div>
</div>

