<table class="table table-condensed table-bordered small">
	<tr ng-repeat="item in dfmStatuses | orderBy:'-created' | limitTo:3">
		<td>{{ item.created | date }}</td>
		<td>{{ item.upperLeft8 }}</td>
		<td>{{ item.upperLeft7 }}</td>
		<td>{{ item.upperLeft6 }}</td>
		<td>{{ item.upperLeft5 }}</td>
		<td>{{ item.upperLeft4 }}</td>
		<td>{{ item.upperLeft3 }}</td>
		<td>{{ item.upperLeft2 }}</td>
		<td>{{ item.upperLeft1 }}</td>
		<td>{{ item.upperRight1 }}</td>
		<td>{{ item.upperRight2 }}</td>
		<td>{{ item.upperRight3 }}</td>
		<td>{{ item.upperRight4 }}</td>
		<td>{{ item.upperRight5 }}</td>
		<td>{{ item.upperRight6 }}</td>
		<td>{{ item.upperRight7 }}</td>
		<td>{{ item.upperRight8 }}</td>
	</tr>
	<tr>
		<td style="width: 20%"></td>
		<td style="width: 5%">18</td>
		<td style="width: 5%">17</td>
		<td style="width: 5%">16</td>
		<td style="width: 5%">15</td>
		<td style="width: 5%">14</td>
		<td style="width: 5%">13</td>
		<td style="width: 5%">12</td>
		<td style="width: 5%">11</td>
		<td style="width: 5%">21</td>
		<td style="width: 5%">22</td>
		<td style="width: 5%">23</td>
		<td style="width: 5%">24</td>
		<td style="width: 5%">25</td>
		<td style="width: 5%">26</td>
		<td style="width: 5%">27</td>
		<td style="width: 5%">28</td>
	</tr>
	<tr>
		<td style="width: 20%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%">55</td>
		<td style="width: 5%">54</td>
		<td style="width: 5%">53</td>
		<td style="width: 5%">52</td>
		<td style="width: 5%">51</td>
		<td style="width: 5%">61</td>
		<td style="width: 5%">62</td>
		<td style="width: 5%">63</td>
		<td style="width: 5%">64</td>
		<td style="width: 5%">65</td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
	</tr>
	<tr>
		<td style="width: 20%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%">85</td>
		<td style="width: 5%">84</td>
		<td style="width: 5%">83</td>
		<td style="width: 5%">82</td>
		<td style="width: 5%">81</td>
		<td style="width: 5%">71</td>
		<td style="width: 5%">72</td>
		<td style="width: 5%">73</td>
		<td style="width: 5%">74</td>
		<td style="width: 5%">75</td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
		<td style="width: 5%"></td>
	</tr>
	<tr>
		<td style="width: 20%"></td>
		<td style="width: 5%">48</td>
		<td style="width: 5%">47</td>
		<td style="width: 5%">46</td>
		<td style="width: 5%">45</td>
		<td style="width: 5%">44</td>
		<td style="width: 5%">43</td>
		<td style="width: 5%">42</td>
		<td style="width: 5%">41</td>
		<td style="width: 5%">31</td>
		<td style="width: 5%">32</td>
		<td style="width: 5%">33</td>
		<td style="width: 5%">34</td>
		<td style="width: 5%">35</td>
		<td style="width: 5%">36</td>
		<td style="width: 5%">37</td>
		<td style="width: 5%">38</td>
	</tr>
	<tr ng-repeat="item in dfmStatuses | orderBy:'-created' | limitTo:3 | orderBy:'created'">
		<td>{{ item.created | date }}</td>
		<td>{{ item.lowerLeft8 }}</td>
		<td>{{ item.lowerLeft7 }}</td>
		<td>{{ item.lowerLeft6 }}</td>
		<td>{{ item.lowerLeft5 }}</td>
		<td>{{ item.lowerLeft4 }}</td>
		<td>{{ item.lowerLeft3 }}</td>
		<td>{{ item.lowerLeft2 }}</td>
		<td>{{ item.lowerLeft1 }}</td>
		<td>{{ item.lowerRight1 }}</td>
		<td>{{ item.lowerRight2 }}</td>
		<td>{{ item.lowerRight3 }}</td>
		<td>{{ item.lowerRight4 }}</td>
		<td>{{ item.lowerRight5 }}</td>
		<td>{{ item.lowerRight6 }}</td>
		<td>{{ item.lowerRight7 }}</td>
		<td>{{ item.lowerRight8 }}</td>
	</tr>
</table>
