<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PatientCard.Properties.Settings.ClinicDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Data\ClinicDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="PatientCard.Properties.Settings.ClinicDatabaseConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\ClinicDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>