<div class="container">
	<hr />
	<div class="row">
		<div class="col-sm-2">
			<ul class="nav nav-stacked nav-pills" ng-controller="MenuCtrl as menu">
				<li ng-repeat="item in menu.items | filter:menu.checkItemPerm"><a href="#!{{ item.url }}">{{ item.title }}</a></li>
			</ul>
		</div>
		<div class="col-sm-2">
			<ul class="nav nav-stacked nav-pills" ng-controller="ActionsCtrl as actions">
				<li ng-repeat="item in actions.items | filter:actions.checkItemPerm" ng-class="{ divider: item.divider }"><a href="#!{{ item.url }}">{{ item.title }}</a></li>
			</ul>
		</div>
		<div class="col-sm-8 text-muted">
			Создано специально для стом. клиник в 2014.
		</div>
	</div>
</div>
