<div class="landing">
	<a href="#!{{item.url}}" ng-repeat="item in landing" class="action">
		<div class="icon {{ item.icon }}"></div>
		<div class="content">
			<p class="heading">{{ item.title }}</p>
			{{ item.description }}
		</div>
	</a>
</div>
