<div class="landing">
	<div ng-repeat="item in landing" class="action">
		<div class="action-icon landing-icon {{ item.icon }}"></div>
			<div class="action-content">
				<a href="#!{{item.url}}">{{ item.title }}</a>
				{{ item.description }}
			</div>
	</div>
</div>
