<section class="page-section page-section-white">
	<div class="container">
		<h1>О нас</h1>
		<p>Белорусский государственный университет</p>
		<p>Институт непрерывного образования</p>
		<p>Кафедра прикладной математики и информатики</p>

		<p>ДИПЛОМНЫЙ ПРОЕКТ по специальности «Программное обеспечение информационных систем» на тему «Электронная стоматологическая амбулаторная карта» слушателя группы 15ПО13-03в  Свирской Анны Валерьевны &copy;</p> 
		<p>Руководитель Петровская Татьяна Александровна</p>
		<p>Минск 2014</p>
	</div>
</section>
