<section class="page-section page-section-white">
	<div class="container">
		<h1>Справка</h1>
		<div>
			<h3>Программа «Стоматологическая амбулаторная карта» предназначена для среднего медицинского персонала и врачей стоматологического профиля. Программа является виртуальным аналогом формы 043/у-10 приложение к приказу  Министерства здравоохранения</h3>
			<p>Республики Беларусь 14.01.2011  № 24   </p>
			<p>Форма № 043/у-06 является основным документом первичной медицинской документации, имеющим юридическую силу и носящим служебный  характер.  Она  необходима  для  документирования  лечебно-диагностического процесса при оказании амбулаторно-поликлинической, специализированной  медицинской  стоматологической  помощи  на  всех  видах стоматологического  приема  —  терапевтического,  амбулаторно-хирургического, ортопедического, ортодонтического, смешанного, на бюджетной и платной основе, взрослого или детского населения. Ее можно использовать  для  оценки  эффективности  и  качества  стоматологической  помощи конкретному пациенту. Стоматологическая  амбулаторная  карта  (САК)  —  юридический документ. В данной карте больного отражают весь комплекс диагностических  и  лечебно-профилактических  мероприятий,  проводимых  при  обращении в стоматологическое учреждение.  </p>
			<p>Первая  страница  САК  (ее  часто  называют  «паспортная  часть»)  посвящена записи сведений о пациенте. Ее заполняют в регистратуре лечебного учреждения медицинские регистраторы (прил. 1). В  строку  «наименование  организации  здравоохранения»  вносится наименование организации. Например: ГУ «Республиканская клиническая стоматологическая поликлиника», ОДО «Стоматолог», ИП В. В. Зайко.     </p>
			<p>Паспортные данные – являются обязательными для заполнения и вносятся при первом обращении пациента в данное учреждение здравоохранения при предъявлении документа, удостоверяющего личность. Номер телефона, социальное положение и место работы заполняется со слов пациента. </p>

			<h3>Лист назначений и учета нагрузок рентгенологических исследований</h3>
			<p>Во избежание необоснованного переоблучения пациентов рекомендуются допустимые контрольные уровни для трех категорий обследуемых, нуждающихся в рентгенологической помощи разной степени. </p>
			<p>При рекомендации установленных дозовых контрольных уровней приняты положения, основанные на известных современных радиобиологических представлениях, характеризующих линейную беспороговую зависимость «доза-эффект». Одновременно учитывается основной принцип – сопоставление риска от проведения рентгенодиагностических исследований и получения необходимой диагностической информации.</p>
			<p>В зависимости от цели и показаний к проведению рентгенодиагностических исследований выделяются три категории пациентов: АД, БД, ВД.</p>
			<p>Категория АД – пациенты, которым рентгенодиагностические исследования назначаются в связи с наличием или подозрением онкологического заболевания, а также в ургентной практике (травмы, кровотечение и др.).</p>
			<p>Категория БД – пациенты, которым рентгенодиагностические исследования проводятся по клиническим показаниям с целью установления (уточнения) диагноза или выбора тактики лечения при заболеваниях неонкологического характера.</p>
			<p>Категория ВД – пациенты, которым рентгенодиагностические исследования проводятся с профилактической целью, а также периодические исследования после радикального лечения по поводу злокачественных опухолей. В категорию ВД также включены группы риска: работающие во «вредных» условиях, связанные с воздействием ионизирующих излучений, с предопухолевыми заболеваниями (фиброаденоматоз, лейкоплакия и др.).</p>
			<p>Отнесение обследуемых лиц к той или иной категории определяет индивидуальную предельную дозу, устанавливаемую по значению эффективной дозы.</p>
			<p>Эффективная доза (Е) – условное понятие, характеризующее дозу равномерного облучения всего тела, соответствующую риску появления отдаленных последствий при дозе реального неравномерного облучения определенного органа или нескольких органов. Измеряется в зивертах (Зв). (Для рентгеновского излучения, используемого в практике лучевой диагностики, принимается 1Зв=114мР).</p>
			<p>Для категории АД дозовый контрольный уровень рекомендован таким образом, чтобы облучение не могло вызвать непосредственных лучевых поражений.</p>
			<p>Для категории БД дозовый контрольный уровень рекомендован в 10 раз ниже, чем для категории АД, в связи с необходимостью ограничения риска появления стохастических (соматических и генетических) последствий облучения.</p>
			<p>Для категории ВД дозовый контрольный уровень рекомендуется в 10 раз ниже, чем для категории БД. </p>
			<p>Дозовые контрольные уровни, рекомендуемые для пациентов при рентгенодиагностических исследованиях</p>


			<table>
				<tr>
					<td>Категория пациентов</td>
					<td>Рекомендуемые дозовые контрольные уровни. Эффективная доза, Е (мЗв/год)</td>
				</tr>
				<tr>
					<td>АД</td>
					<td>150</td>
				</tr>
				<tr>
					<td>БД</td>
					<td>15</td>
				</tr>
				<tr>
					<td>ВД*</td>
					<td>1,5</td>
				</tr>
			</table>
			<p>* При таком дозовом пределе величина эффективной дозы облучения в среднем для населения республики не превысит 1 мЗв/год (НРБ-2000).</p>
			<p>Допускается многократное обследование пациентов в течение года при условии, что суммарное значение эффективной дозы не превысит рекомендованного контрольного уровня для данной категории.</p>
			<p>Рентгенодиагностические исследования не проводятся (за исключением жизненных медицинских показаний):</p>
			<p>-женщинам, относящимся к категориям БД и ВД в период установленной или возможной беременности,</p>
			<p>-детям, относящимся к категории ВД до 15 лет.</p>
			<p>Раздел  «обследование  пациента  при  первичном  обращении»  состоит из подразделов: «причина обращения, жалобы», «состояние общего здоровья со слов пациента», «внешний осмотр», «стоматологический статус»,  «общий  план  лечения  по  результатам  обследования  пациента  при первичном обращении» (прил. 3). </p>
			<p>Данный  раздел  заполняется  врачом-стоматологом,  который  провел обследование пациента при первичном посещении данной организации. Первичным посещением является посещение пациента, впервые обратившегося  в  текущем  году  за  стоматологической  помощью  в  данную организацию независимо от характера обращения. Любое другое посещение пациентом стоматолога в данной организации в текущем году является повторным. </p>
			<p>В строку «причина обращения, жалобы»  кроме этих данных вносят информацию о развитии заболевания (время появления первых признаков заболевания, динамика развития заболевания, проводимое ранее лечение, его результаты). </p>
			<p>В таблицу «состояние общего здоровья со слов пациента» вносятся данные со слов пациента либо его законного представителя, супруга (ги), близкого  родственника) о  состоянии  общего  здоровья  пациента, перенесенных  и  сопутствующих  заболеваниях,  состояниях,  аллергоанамнезе, наследственности,  профессиональных  вредностях,  условиях  жизни.  Эти данные  позволяют  врачу  адекватно  оценить  состояние  общего  здоровья пациента и установить взаимосвязь стоматологического здоровья с общесоматическим состоянием. </p>
			<p>Кроме того, изучение общесоматического  здоровья позволяет врачу выявить пациентов группы риска. Эти пациенты требуют особого внимания при выборе методов диагностики (Rh-графия, ультразвук) и лечения (использование анестетиков, медикаментов). Повышенное внимание врача к вопросам асептики и антисептики необходимо при работе с пациентами, страдающими инфекционными заболеваниями (туберкулез, СПИД). </p>
			<p>В строке «другое» при необходимости отмечаются вредные привычки (табакокурение, прикусывание щеки, губ, твердых предметов и т. п.), наследственные факторы, условия жизни и иные сведения, имеющие существенное отношение к состоянию общего и стоматологического здоровья пациента. </p>
			<p>В строку «конфигурация лица» вносятся данные о конфигурации лица (например, не изменена, асимметрия и так далее), выраженности носогубных и подбородочных складок, снижении высоты нижней трети лица, другие особенности. </p>
			<p>В строку «состояние кожных покровов, красной каймы губ» вносятся данные о состоянии кожных покровов, красной каймы губ (например: без видимых патологических  изменений,  герпетические  высыпания на  верхней губе и т. д.). </p>
			<p>В  строку  «состояние  региональных  лимфатических  узлов»  вносятся данные  о  состоянии  поднижнечелюстных,  подъязычных,  околоушных, шейных  лимфатических  узлов  (увеличенные,  эластичные,  плотные,  спаянные, подвижные, безболезненные, болезненные и др.).  </p>
			<p>В подразделе «общий план лечения по результатам обследования пациента  при  первичном  обращении»  составляется  общий  план  лечения  с  определением  оптимальных  диагностических  и  лечебно-профилактических стоматологических мероприятий для обеспечения пациенту стоматологического здоровья. </p>
			<p>Данный план лечения, составленный при первичном обращении пациента, отражает только общую схему оказания необходимой ему помощи. Основанием для его составления служат данные первичного визуального и инструментального исследования. Следует  отметить,  что  планирование  стоматологического  лечения носит индивидуальный характер. Оно зависит от состояния общего и стоматологического  здоровья  пациента,  нозологической  формы  и  тяжести заболевания, материально-технической базы организации.   </p>
			<p>План должен быть комплексным и предусматривать последовательность  медицинских  стоматологических  вмешательств,  направленную  на достижение положительного результата. Последовательность  оказания  различных  видов  стоматологической помощи носит рекомендательный характер. Например, при лечении зуба  с диагнозом «кариес дентина» требуется уточнить глубину полости, степень  минерализации  дентина,  состояние  пульпы  зуба,  класс  полости, наличие пломбировочных материалов и т. п. </p>
			<p>Лечение  нужно  начинать  с  оказания  неотложной  помощи.  Запись проводится  в  строке  «оказание  неотложной  помощи»,  где  указываются конкретные  стоматологические  мероприятия  по  оказанию  неотложной помощи, если в этом есть необходимость. Неотложная стоматологическая помощь оказывается пациентам с острой болью в челюстно-лицевой области,  которая  возникает  при  таких  заболеваниях,  как  острый  пульпит, острый  периодонтит,  периодонтальный  абсцесс,  острая  травма  челюсти (зуба),  гнойно-воспалительные  заболевания  челюстно-лицевой  области  и  т.  п.  Оказание  неотложной  помощи  может  проводить  как  стоматологтерапевт, так и стоматолог-хирург. </p>
			<p>При отсутствии острой боли предпочтительно начинать лечение с профилактических мероприятий, проведение которых направлено на предупреждение возможности возникновения или прогрессирования уже имеющихся наиболее  распространенных  стоматологических  заболеваний.  К  ним  относятся кариес зубов и заболевания маргинального периодонта. Планирование профилактических мероприятий должно быть конкретизировано для каждого пациента с учетом его стоматологического статуса и возраста. </p>
			<p>Терапевтическое  лечение  —  проведение  вторичной  и  третичной профилактики  кариеса,  заключающейся  в  качественном  пломбировании кариозных  полостей,  проведении  эндодонтического  лечения  с  соблюдением стандартов каждого этапа лечения.  Проведение отдельных хирургических вмешательств (удаление корней зубов, зубов не подлежащих терапевтическому лечению и являющихся очагами одонтогенной инфекции) может сочетаться с терапевтическими и профилактическими мероприятиями.  </p>
			<p>Ортопедическое  и/или  ортодонтическое  лечение  проводится  после указанных выше мероприятий.  </p>
			<p>Конкретные  медицинские  мероприятия,  которые  врачу  необходимо выполнить пациенту для обеспечения стоматологического здоровья, указываются в соответствующих строках.  </p>
			<p>После расставления приоритетов и составления общей схемы оказания стоматологической помощи врач приступает к детальному планированию  лечения  на  основании  окончательного  диагноза  каждой  из  выявленных  у  пациента  нозологических  форм  заболевания,  т.  е.  определяет окончательный  вариант  последовательности  лечения,  метод  и  методику. </p>
			<p>При  этом  врач  учитывает  желание  пациента  лечиться,  наличие  у  него факторов риска развития стоматологических заболеваний, его отношение к своему здоровью, свою компетентность в лечении данных заболеваний, техническое  оснащение  лечебной  базы.  В  частной  практике  приходится учитывать и платежеспособность пациента. На каждый вид предложенного лечения (пломбирование корневых каналов зуба, постановка пломбы, удаление зубного налета) врач получает согласие пациента, оформленное в письменном виде</p>

		</div>
	</div>
</section>
