<div class="jumbotron" ng-controller="LandingCtrl">
	<div class="container">
		<h1>С чего начать работу...</h1>
		<p>выберите одно из желаемых действий ниже</p>
	</div>
</div>
<div class="container">
	<ng-include src="'/Widget/Landing'"></ng-include>
</div>
