<section class="page-section page-section-branding">
	<div class="container">
		<h1>С чего начать работу...</h1>
		<p>выберите одно из желаемых действий ниже</p>
	</div>
</section>
<section class="page-section page-section-white">
	<div class="container">
		<div class="row" my-landing="landing.landing"></div>
	</div>
</section>
