<div class="container" ng-controller="LandingCtrl">
	<div class="jumbotron">
		<h1>С чего начать работу...</h1>
		<p>выберите одно из желаемых действий ниже</p>
	</div>
	<ng-include src="'/Widget/Landing'"></ng-include>
</div>
