<section class="page-section page-section-white">
	<div class="container">
		<h1 class="text-center">Авторизация</h1>
		<form name="loginForm" class="form-horizontal" role="form">
			<div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid }">
				<label class="col-sm-offset-3 col-sm-2 control-label">Имя пользователя</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" placeholder="Имя пользователя" name="username" ng-model="login.user.username" required>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid }">
				<label class="col-sm-offset-3 col-sm-2 control-label">Пароль</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" placeholder="Пароль" name="password" ng-model="login.user.password" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-4">
					<button class="btn btn-primary" ng-click="login.ok()" ng-disabled="form.$invalid"><span class="glyphicon glyphicon-user"></span>&nbsp;Войти</button>
				</div>
			</div>
		</form>
	</div>
</section>
