<div class="container-fluid" ng-controller="PatientsCtrl as patients">
	<div class="btn-toolbar btn-toolbar-padding">
		<div class="btn-group">
			<a href="#!/patient/new" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить пациента</a>
		</div>
	</div>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Фамилия</th>
				<th>Имя</th>
				<th>Отчество</th>
				<th>Телефон</th>
				<th>Адрес</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in patients.items | filter: searchText">
				<td><b>{{ item.lastName }}</b></td>
				<td>{{ item.firstName }}</td>
				<td>{{ item.middleName }}</td>
				<td>{{ item.phone }}</td>
				<td>{{ item.address }}</td>
				<td>
					<div class="btn-group btn-group-xs pull-right">
						<a href="#!/patient/view/{{ item.id }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;Открыть</a>
						<a href="#!/patient/edit/{{ item.id }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Редактировать</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
