@{
	Layout = "Patient.cshtml";
}
<dl class="dl-horizontal">
	<dt>Ф.И.О.</dt>
	<dd>Фамилия Имя отчество</dd>
	<dt>Дата рождения</dt>
	<dd>Дата</dd>
	<dt>Адрес постоянной (временной) регистрации</dt>
	<dd>Адрес</dd>
	<dt>Контактные телефоны</dt>
	<dd>Телефоны</dd>
	<dt>Социальное положение</dt>
	<dd>Соц. статус</dd>
	<dt>Место работы (службы, учебы)</dt>
	<dd>Где работает</dd>

</dl>
<div class="page-header">
	<h3>Начните работу с пациентом</h3>
</div>
<div class="row">
		<div class="col-md-4 col-sm-6" ng-repeat-start="item in landing.items">
			<div class="media tile">
				<div class="media-object pull-left health-icon-lg {{ item.icon }}"></div>
				<div class="media-body">
					<a href="#!{{item.url}}">
						<h4 class="media-heading">{{ item.title }}</h4>
					</a>
					{{ item.description }}
				</div></div>
		</div>
		<div ng-if="$index % 2 == 1" class="clearfix visible-sm"></div>
		<div ng-if="$index % 3 == 2" class="clearfix visible-md" ng-repeat-end></div>
	</div>

@section Breadcrumb
{
	<ol class="breadcrumb">
		<li><a href="#!/patients">Пациенты</a></li>
		<li class="active">ИМЯ</li>
	</ol>
}