<div class="container" ng-controller="PatientListCtrl">
	<div class="btn-toolbar bottom-padding">
		<div class="btn-group">
			<a href="#!/patient/new" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить пациента</a>
		</div>
	</div>
	<div class="panel panel-default">
		<table class="table table-striped table-condensed table-bordered">
			<thead ng-include="'/Widget/TableHeader'"></thead>
			<tbody>
				<tr ng-repeat="item in items | orderBy:sortFields | filter: searchText">
					<td><a href="#!/patient/view/{{ item.id }}">{{ item.lastName }}</a></td>
					<td>{{ item.firstName }}</td>
					<td>{{ item.middleName }}</td>
					<td>{{ item.phone }}</td>
					<td>{{ item.address }}</td>
					<td>
						<div class="btn-toolbar pull-right">
							<div class="btn-group btn-group-xs">
								<a href="#!/patient/edit/{{ item.id }}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
