@model IList<PatientCard.Core.Models.FirstSurveyOption>
<div class="container" ng-controller="PatientFirstSurveyCtrl">
	<ng-include src="'/Widget/Breadcrumb'"></ng-include>
	<div class="page-header">
		<h3>Первичный осмотр</h3>
	</div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label">Причина обращения, жалобы</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2" placeholder="Причины"></textarea>
			</div>
		</div>
		<div class="form-group">
			<h4 class="col-sm-offset-3 col-sm-9">Состояние со слов пациента:</h4>
		</div>
		@foreach (var option in Model)
  {

			<div class="form-group">
				<label class="col-sm-3 control-label">@option.Name</label>
				<div class="col-sm-2">
					<input type="radio" name="options@(option.Key)">
					ДА
			
					<input type="radio" name="options@(option.Key)">
					НЕТ
		
				</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Если ДА, уточнить">
				</div>
			</div>
  }
		<div class="form-group">
			<h4 class="col-sm-offset-3 col-sm-9">Внешний осмотр:</h4>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Конфигурация лица</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
		<div class="form-group">
			<h4 class="col-sm-offset-3 col-sm-9">Состояние:</h4>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">кожных покровов, красной каймы</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">регионарных лимфатических узлов</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">височно-нижнечелюстного сустава </label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-10">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Сохранить</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>&nbsp;Отмена</button>
			</div>
		</div>
	</form>
</div>
