<section class="page-section page-section-breadcrumb">
	<div class="container" my-breadcrumb="overview.breadcrumb"></div>
</section>

<section class="page-section page-section-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="landing-icon medical-service-icon-man412"></span>
			</div>
			<div class="col-sm-5">
				<dl>
					<dt>Ф.И.О.</dt>
					<dd>{{ overview.patient.lastName }} {{ overview.patient.firstName }} {{ overview.patient.middleName }}</dd>
					<dt>Дата рождения</dt>
					<dd>{{ overview.patient.birthday | date }}</dd>
					<dt>Адрес постоянной (временной) регистрации</dt>
					<dd>{{ overview.patient.address }}</dd>
				</dl>
			</div>
			<div class="col-sm-5">
				<dl>
					<dt>Контактные телефоны</dt>
					<dd>{{ overview.patient.phone }}</dd>
					<dt>Социальное положение</dt>
					<dd>{{ overview.patient.socialStatus }}</dd>
					<dt>Место работы (службы, учебы)</dt>
					<dd>{{ overview.patient.job }}</dd>
				</dl>
			</div>
		</div>
	</div>
</section>
<section class="page-section page-section-white">
	<div class="container">
		<div class="row" my-landing="overview.landing"></div>
	</div>
</section>
