<div class="container" ng-controller="PatientStatusCtrl">
	<ng-include src="'/Widget/Breadcrumb'"></ng-include>
	<div class="page-header">
		<h3>Стоматологический статус</h3>
	</div>
	<ng-include src="'/Dentist/DfmStatus'"></ng-include>
	<div class="page-header">
		<h3>OHIS</h3>
	</div>
	<ng-include src="'/Dentist/OhisStatus'"></ng-include>
	<div class="page-header">
		<h3>КПИ</h3>
	</div>
	<ng-include src="'/Dentist/CpiStatus'"></ng-include>
	<div class="page-header">
		<h3>Описание</h3>
	</div>
	<ng-include src="'/Dentist/DentistStatus'"></ng-include>
</div>
