<div class="container" ng-controller="PatientStatusCtrl">
	<div class="page-breadcrumb" ng-include="'/Widget/Breadcrumb'"></div>
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="page-header">
				<h4>КПУ</h4>
			</div>
			<ng-include src="'/Dentist/DfmStatus'"></ng-include>
			<div class="page-header">
				<h4>Описание</h4>
			</div>
			<ng-include src="'/Dentist/DentistStatus'"></ng-include>
		</div>
		<div class="col-md-2 col-sm-6">
			<div class="page-header">
				<h4>OHIS</h4>
			</div>
			<ng-include src="'/Dentist/OhisStatus'"></ng-include>
		</div>
		<div class="col-md-2 col-sm-6">
			<div class="page-header">
				<h4>КПИ</h4>
			</div>
			<ng-include src="'/Dentist/CpiStatus'"></ng-include>
		</div>
	</div>
</div>
