<section class="page-section page-section-breadcrumb">
	<div class="container" my-breadcrumb="survey.breadcrumb"></div>
</section>
<section class="page-section-white">
	<div class="container">

		<div class="row">
			<div class="col-sm-12" ng-if="checkPerm(survey.editPerm)">
				<div class="btn-group bottom-padding" ng-if="!survey.editFormEnabled">
					<button class="btn btn-primary" ng-click="survey.add()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить</button>
				</div>
				<ng-include src="'/Patient/SurveyEditor'" ng-if="survey.editFormEnabled"></ng-include>
			</div>
		</div>
		<div class="panel panel-default">
			<table class="table table-striped table-condensed table-bordered">
				<thead my-table-head="survey.tablehead" my-sort-fields="survey.sortFields"></thead>
				<tbody>
					<tr ng-repeat="item in survey.surveys | orderBy:survey.sortFields | filter:serachText">
						<td>{{ item.type }}</td>
						<td>{{ item.description }}</td>
						<td>{{ item.user.displayName }}</td>
						<td>{{ item.created | date }}</td>
						<td>{{ item.dose }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
