<div class="container" ng-controller="PatientVisitDiaryCtrl">
	<ng-include src="'/Widget/Breadcrumb'"></ng-include>
	<div class="page-header">
		<h3>Новое посещение</h3>
	</div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<div class="col-sm-12">
				<label class="sr-only">Детали о посещении</label>
				<textarea class="form-control" rows="2" placeholder="Жалобы, клиническая картина и т.д."></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить</button>
			</div>
		</div>
	</form>
	<div class="page-header">
		<h3>Список всех посещений</h3>
	</div>
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th>Описание</th>
				<th>Врач</th>
				<th>Дата проведения</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
